@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --color1: #0313DD;
    --color2: #0074EC;
    --color3: #00D4FC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color: #272727;
}

@media screen and (min-width: 1200px){

    .container{
        max-width: 1200px;
        margin: 0px auto;
    }

    header{
        border-top: 2px solid rgba(199, 199, 199, 0.5);
    }

    h1 {
        display: flex;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 15px;
        background-color: #fff;
    }

    header nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 45px;
        width: 100%;
        padding: 15px;
    }

    nav ul{
        display: flex;
        list-style: none;
        gap: 40px;
    }

    nav ul li a{
        font-size: 16px;
    }

    .hero {
        height: 350px;
        background-image: linear-gradient(to right, rgba(3, 19, 221, 0.8), rgba(0, 210, 252, 0.8)), url(/assets/images/bg-laptop.jpg);
        background-position: center;
    }

    .hero .hero-content img {
        position: absolute;
        height: 350px;
        right: 0px;
    }
}