@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-color: #0313DD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

@media screen and (min-width: 1200px){

    .header-nav{
        background-image: linear-gradient(to left, #00D4FC, #0074EC, #0313DD);
    }

    .container{
        max-width: 1200px;
        margin: 0px auto;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 115px;
        width: 100%;
        padding: 15px;
    }

    nav ul{
        display: flex;
        list-style: none;
        gap: 40px;
    }

    nav ul li a{
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
    }
}